@model MovieToon.Models.RentalModel

@{
    ViewData["Title"] = "Details rental";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white border-bottom">
        <li class="breadcrumb-item" aria-current="page">Rentals</li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<div class="card mx-auto" style="width: 18rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
        <rect width="100%" height="100%" fill="#868e96"></rect>
    </svg>
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.Id) - @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)</h5>
        <div class="card-text">
            <sub><b>@Html.DisplayNameFor(model => model.StartDate):</b> @Html.DisplayFor(model => model.StartDate)<br /></sub>
            <sub><b>@Html.DisplayNameFor(model => model.EndDate):</b> @Html.DisplayFor(model => model.EndDate)<br /></sub>
        </div>
        <br />
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>
</div>

<hr />

<div class="row row-cols-1 row-cols-md-2">
    @foreach (RentalMovieModel movie in Model.RentalMovies)
    {
        <div class="col mb-4">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">@movie.Movie.Name</h5>
                    <div class="card-text">
                        @movie.Movie.Description
                        <br />
                        <sub class="float-right">$ @(movie.Movie.Price * (1 - Model.Customer.Membership.Discount))</sub>
                        <br />
                        <sub class="float-left">Clasification: @movie.Movie.MovieClasification.Name</sub>
                        <sub class="float-right">@movie.Movie.MovieCategory.Name</sub>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
