@model MovieToon.Models.CustomerModel

@{
    ViewData["Title"] = "Delete customer";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white border-bottom">
        <li class="breadcrumb-item" aria-current="page">Customers</li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>
</nav>

<div class="card mx-auto" style="width: 18rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
        <rect width="100%" height="100%" fill="#868e96"></rect>
    </svg>
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h5>
        <div class="card-text">
            <sub><b>@Html.DisplayNameFor(model => model.DNI):</b> @Html.DisplayFor(model => model.DNI)<br /></sub>
            <sub><b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)<br /></sub>
            <sub><b>@Html.DisplayNameFor(model => model.Phone):</b> @Html.DisplayFor(model => model.Phone)<br /></sub>
            <sub><b>@Html.DisplayNameFor(model => model.Address):</b> @Html.DisplayFor(model => model.Address)<br /></sub>
            <sub class="float-right"><b>@Html.DisplayFor(model => model.Membership.Name)<br /></sub>
        </div>
        <br />
        <h6>Are you sure you want to delete this?</h6>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>
