@model IEnumerable<MovieToon.Models.CustomerModel>

@{
    ViewData["Title"] = "Customers";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white border-bottom">
        <li class="breadcrumb-item" aria-current="page">Customers</li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<a class="btn btn-success float-right mb-3" asp-action="Create">Create New</a>

<table class="table table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.DNI)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Membership.Name)</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

        @if (Model.Count() == 0)
        {
            <tr><td colspan="8">No movie data retrieve.</td></tr>
        }
    </tbody>
</table>
